input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.img-responsive {
  max-height: 250px !important;
}
.save-cancel{
  display: flex;
  justify-content: end;
}
.rec{
  margin-top: 20px;
  margin-bottom: 20px;
}
